.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.btn {
    background: linear-gradient(0deg, #EF8F00, #EF8F00), linear-gradient(0deg, #F2F0F0, #F2F0F0);
}

.form-label {
    padding: 5px;
}

.sc {
    border-radius: 25px;
}

.form-control {
    width: 100% !important;
    height: 30px;
    border: 1px solid rgba(239, 143, 0, 1);
    padding: 5px;
    border-radius: 15px;
    position: relative; /* Agregamos esta propiedad */
}

.input-container {
    position: relative;
}

.input-container .fa-eye, 
.input-container .fa-eye-slash {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1; /* Asegura que el ícono esté sobre el campo de contraseña */
}

.form-control[type="password"]::after {
    content: "\f06e"; /* Icono de ojo cerrado para campos de contraseña */
}

.form-control.show-password[type="password"]::after {
    content: "\f070"; /* Icono de ojo abierto para campos de contraseña mostrada */
}

.form-select {
    width: 100% !important;
    height: 30px;
    border: 1px solid rgba(239, 143, 0, 1);
    padding: 5px;
    border-radius: 15px;
}