


.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.container {
    border-radius: 100px;
    
}
.container-crud {
    margin: 20px;
    border: solid 2px #ef8f00;
    background-color: #ffffff74;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
.btn{
    background: linear-gradient(0deg, #EF8F00, #EF8F00), linear-gradient(0deg, #F2F0F0, #F2F0F0);

}
.form-label{
    padding: 5px;

    
}

.sc{

    border-radius: 25px;

}


.form-control{

    width: 100% !important;
    height: 30px;
    border:1px solid rgba(239,143,0,1);
    padding:5px;
    border-radius: 15px;

}
.form-select{
    width: 100% !important;

    height: 30px;
    border:1px solid rgba(239,143,0,1);
    padding:5px;
    border-radius: 15px;
    
}

