@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.first{
    width: 900px !important;
}
.containerimg{
    width: 300px !important;
    height: 300px !important;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/perfil.png');
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 50%;
 
    overflow:hidden;
    position:relative;
    border:2px solid #000000;
    
}

#imgperfil{
    height: 250px !important;
    /* padding-bottom: 15px !important; */
}

.name{
    font-family: 'Nunito', sans-serif;
}

#buttons{
    background: #EF8F00 !important;
}

#editProfileLink{
    background: #EF8F00 !important;
}

#buttons:hover{
    background-color: #ffa928 !important;
}