.con1 {
    border-radius: 25px;
}

.form-label {
    padding: 5px;
}


/*  Estilo Input  */

.form-control {
    height: 30px;
    border: 1px solid rgba(239, 143, 0, 1);
    padding: 5px;
    border-radius: 15px;
}

.form-select {
    height: 30px;
    border: 1px solid rgba(239, 143, 0, 1);
    padding: 5px;
    border-radius: 15px;
}

.btn {
    width: 170px;
    height: 30px;
    border-radius: 15px;
    /* Bordes redondeados */
    padding: 5px;
    /* Espacio interno dentro del input */
    background: linear-gradient(0deg, #EF8F00, #EF8F00), linear-gradient(0deg, #F2F0F0, #F2F0F0);
    border: 1px solid rgba(242, 240, 240, 1);
    /* Estilos del Botón */
}

.ocultar {
    display: none;
}
 
.mostrar {
    display: block;
}
.Buttons{
    /* left:10% */
    right: 200px;
}

.sc{

    border-radius: 25px;

}
/* campo contraseña
    stylos css para que se acomode la imagen de compo contraeña 

*/
.input-wrapper {
    position: relative;
    /* width: 345px; */
 }

 #eye{
    color: #ffa200;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 85%;
    top: 50%;
    transform: translateY(-50%);
    
 }
 #eye2{
    color: #ffa200;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 85%;
    top: 50%;
    transform: translateY(-50%);
 }
 .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}