.con1 {
    border-radius: 25px;
    background-color: #ffffff74;
    margin-bottom: 30px;
}

.form-label {
    padding: 5px;
}



/*  Estilo Input  */

.form-control {
    height: 30px;
    border: 1px solid rgba(239, 143, 0, 1);
    padding: 5px;
    border-radius: 15px;
}

.form-select {
    height: 30px;
    border: 1px solid rgba(239, 143, 0, 1);
    padding: 5px;
    border-radius: 15px;
    
}

.btn {
    width: 218px;
    height: 30px;
    border-radius: 15px;
    /* Bordes redondeados */
    padding: 5px;
    /* Espacio interno dentro del input */
    background: linear-gradient(0deg, #EF8F00, #EF8F00), linear-gradient(0deg, #F2F0F0, #F2F0F0);
    border: 1px solid rgba(242, 240, 240, 1);
    /* Estilos del Botón */
}

.ocultar {
    display: none;
}
 
.mostrar {

    display: block;
}


/* campo contraseña
    stylos css para que se acomode la imagen de compo contraeña 

*/
.input-wrapper {
    position: relative;
    /* width: 200px; */
    display: flex;
    margin: 0;
 }

 #eye{
    color: #191919;
    margin-top: 7px;
    margin-left:-35px ;
    width: 20px;
    height: 20px;
   
    
 }
 #eye2{
    color: #191919;
    margin-top: 7px;
    margin-left:-35px ;
    width: 20px;
    height: 20px;
 }

 .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}




.formulario__grupo.error input{
    border: #d40e0ec7;
}

.formulario__grupo small{
    color: red;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.formulario__grupo.success input{
    color: rgb(0, 255, 13);
    border: greenyellow;
}

.formulario__grupo.error small{
    visibility: visible;
    
}
.chck{
    border: solid 2px #EF8F00;
}
.chck:hover{
    background-color: #f3ac41;
    cursor: pointer;
}
.fa-eye:hover{
    cursor: pointer;
}







