/* Set margins and paddings to zero for all elements */
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
  }


img {
    width: 200px;
}
.header-admin{
    background-color: #D98405;
    box-shadow: 0 0 10px #000000;
}

.btn-logout {
    background-color: #F16464;
    font-weight: bold;
    color: black;
}


.btn-logout:hover {
    background-color: #F16464;
    color: black;
}


.nav-burger {
    color: #ffffff;
    display: none;
}


.aside-container {
    background-color: #a1a1a1;
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: 0 0 10px #000000;
    font-weight: bold;
}

.logout-crud{
    background-color: #000000;
    color: #ffffff;
    
}

.aside-item {
    height: 100%;
    list-style: none; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-table{
    height: 100vh;
}



/* Styles for navigation links within the aside container */
.nav-aside {
    color: black;
    width: auto;
}

/* Styles for navigation links within the aside container when hovered */
.nav-aside:hover {
    transition: all 0.5s;
    background-color: #D98405;
    color: #ffffff;
    box-shadow: 0 0 10px #7a4100;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/* Styles for the "New" button */
.btn-new {
    background-color: #f19304;
    font-weight: bold;
    color: black;
    width: 110px;
}

/* Styles for the "New" button when hovered */
.btn-new:hover {
    background-color: #573401;
    color: #ffffff;
    
}

/* Styles for the select form element */
.form-select {
    width: 220px;
}

/* Styles for the edit button */
.btn-edit {
    background-color: #279CDE;
}

/* Styles for the edit button when hovered */
.btn-edit:hover {
    background-color: #279CDE;
}

/* Styles for the delete button */
.btn-delete {
    background-color: #F16464;
}

/* Styles for the delete button when hovered */
.btn-delete:hover {
    background-color: #F16464;
}

.btn-view{
    background-color: #f19304;
}

.btn-view:hover{
    background-color: #D98405;
}

/* General styles for icon tags */
i {
    color: black;
}
.botones-crud{
    background-color: #e08804;
    border-color: #b46c00;
}
.botones-crud:hover{
    background-color: #eda73d;
    color: #000000;
}
.con-izq{
    min-height: 100vh;
    max-width: 100%;
}
.l-left2{
    padding-top: 60px;
    padding-bottom: 40px;
}

/* Styles for small screens (up to 768px) */
@media screen and (max-width: 768px) {

    /* Display the navigation menu icon (burger) */
    .nav-burger {
        display: block;
    }

    /* Hide the aside container */
    .aside-container {
        display: none;
    }
}

.pagination,.tabletpr{
    
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1.2rem;
    --bs-pagination-color: #535353;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #3b3b3b;
    --bs-pagination-border-radius: 20px;
    --bs-pagination-hover-color: #000000;
    --bs-pagination-hover-bg: #fc860070;
    --bs-pagination-hover-border-color: #000000;
    --bs-pagination-focus-color: #000000;
    --bs-pagination-focus-bg: #df710b91;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(255, 117, 3, 0.822);
    --bs-pagination-active-color: #464646;
    --bs-pagination-active-bg: #e0dddb;
    --bs-pagination-active-border-color: #4e4e4e;
    --bs-pagination-disabled-color: #000000 ;
    --bs-pagination-disabled-bg: #f19304;
    --bs-pagination-disabled-border-color: #000000;
    display: flex;
    padding-left: 0;
    list-style: none;
}

.active>.page-link{
    background-color:#f19304 ;
    color: #000000;
}
